{% extends "::Admin.html.twig" %}
{% block header %}
         {{ 'header'|raw }}
{% endblock %} 
{% block ariane %}
	{% if  category is defined or categoryalbum is defined or tag is defined or categoryregulation is defined or categoryservice is defined or groupefaq is defined %}
		{{parent()}} 
		<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{'ariane_name1'}}</a></li>
		<li><a href="{{path(ariane_path2)}}"><i class="fa fa-cog"></i>{{'ariane_name2'}}</a></li>
		<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% elseif slider is defined %}
		{{parent()}} 
			<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{'ariane_name1'}}</a></li>
			<li><a href="{{path(ariane_path2,{slider: slider})}}"><i class="fa fa-cog"></i>{{'ariane_name2'}}</a></li>
			<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% else %}
  		{{parent()}} <li><a href="{#{path(ariane_path)}#}"><i class="fa fa-cog"></i>{{'ariane_name'}}</a></li><li><i class="fa fa-plus"></i>{{'new.submit'|trans}}</li>
	{% endif %}
  
{% endblock %}
{% block stylesheets %}
    {{parent()}}
	<link rel="stylesheet" href="{{ asset('theme/assets/css/admin-style.css') }}">  
{% endblock %} 
{% block body%}
	{% for flash_message in app.session.flashbag.get('success') %}
	    <div class="flash-notice callout callout-success">
	      {{ flash_message }}
	    </div>
	{% endfor %}
<div class="container">
	<div class="col-md-8">
	  <!-- general form elements -->
	    <div class="box box-primary">
		    <div class="box-header with-border">
		       <h3 class="box-title">Infos du site</h3>
		    </div>
		    <!-- /.box-header -->
		    <!-- form start -->
	        {{form_start(form)}}

		    <div class="box-body">

	          {{form_row(form.title)}}
	          {{form_row(form.description)}}
	          {{form_row(form.location)}}
	          {{form_row(form.telephone)}}
	          {{form_row(form.mobile)}}
	          {{form_row(form.email)}}
	          {{form_row(form.contactFormText)}}
			  
			  <div class="social-form">  
			    {{ include('admin/siteInfo/social_form.html.twig') }}
			  </div>
			  {{form_row(form.socials)}}

			  <div id="snackbar" style="display:none;">Tu ne peux pas ajouter plus de 4 reseaux sociaux.</div>
		    </div>
		      <!-- /.box-body -->
	        <div class="box-footer">
	        	<button type="submit" class="btn btn-primary">
	        		{% if siteInfo.id %} 
	        			Editer 
	        		{% else %} 
	        			Valider 
	        		{% endif %}
	        	</button>
	        </div>
	  		{{ form_end(form)}}
	    </div>
	  <!-- /.box -->
	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/elfinder-multi-photos.js')}}" charset="utf-8"></script>
	<script charset="utf-8">
		( function(){ 

			var socialIndex = $("#social-content div.col-md-3").length;

			function addSocial() {
			    $("#social-content").append($('#socialNet').html().replace(/\_\_name\_\_/g, socialIndex));
			}

			$("#addSocial").click(function() {
			    var counter = $("#social-content div.col-md-3").length;
			    // limit uploads
			    if (counter < 4) {
			        addSocial();
			 
			    } else {

		    	    var x = document.getElementById("snackbar")

		    	    // Add the "show" class to DIV
		    	    x.className = "show";

		    	    // After 3 seconds, remove the show class from DIV
		    	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
			    	return;
			    }

			    socialIndex = socialIndex + 1;
			});

			$(document).on("click", "form a.delete-row", function() {
			    $(this).closest('div.col-md-3').fadeOut("slow").remove();
			});

		})();
		
	</script>
	<script src="{{asset('js/elfinder-multi-photos.js')}}" charset="utf-8"></script>
{% endblock %}