{% macro socialRow(social) %}
    <div class="col-md-3">
        <div>
         {{ form_row(social.name) }}
         {{ form_row(social.url) }}
         {{ form_row(social.iconCode) }}
        </div>
        <div>
            <a class="btn btn-xs delete-row">
                <i class="fa fa-trash text-primary"></i>   
            </a>
        </div>
    </div>
    
{% endmacro %}

<div>
<script type="text/html" id="socialNet">{{ _self.socialRow (form.socials.vars.prototype) }} </script>
</div>
<hr>

<h4>Ajouter un reseau social</h4>

<div class="form-actions clearfix">
    <button type="button" id="addSocial" class="btn bt-small btn-info" style="margin-bottom:15px;">
        <i class="fa fa-plus-circle"></i>
    </button>
</div>

<div class="social-media"> 
    <div class="row" id="social-content"> 
        {% for social in form.socials %}
            {{ _self.socialRow(social) }}
        {% endfor %}
    </div>
</div>