{{ include('admin/form/edit.html.twig', 
{
header: "Admin Ariane Banner"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_ariane_banner_index',
ariane_path2:'admin_ariane_banner_category_index',
category:true,
ariane_name1:"Ariane Banner"|trans,
ariane_name2:"Ariane Banner"|trans,
title:"ariane_bannercat.edit.title"|trans,
back_link: 'admin_ariane_banner_category_index',

}) }}                 