{{ include('admin/form/new.html.twig', 
{

header: "Categorie don"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_donation_index',
ariane_path2:'admin_donation_category_index',
category:true,
ariane_name1:"don"|trans,
ariane_name2:"don"|trans,
action:"admin_donation_category_new",
title:"categorie"|trans,
back_link: 'admin_donation_category_index',

}) }}