{{ include('admin/form/edit.html.twig', 
{
header: "Type de Don"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_donation_index',
ariane_path2:'admin_donation_category_index',
category:true,
ariane_name1:"don"|trans,
ariane_name2:"Type de don"|trans,
title:"Type edition"|trans,
back_link: 'admin_donation_category_index',

}) }}                 