{% trans_default_domain 'FOSUserBundle' %}

	{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
	    {{ form_widget(form) }}
	    <div class="form-group">
	        <input class="btn btn-lg btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
	    </div>
	{{ form_end(form) }}
