{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle"alt="Photo avatar {{app.user.username}}" src="{{ asset(app.user.avatar.getWebPath|default('admin/img/user.png'))}}">

        <h3 class="profile-username text-center">{{ user.firstname }} {{ user.name }}</h3>

        <p class="text-muted text-center">{{ user.username }}</p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <address><span class="fa fa-map-marker"></span> {{ user.country }}</address>
          </li>
          <li class="list-group-item">
            <address><span class="fa fa-envelope"></span> {{ user.email }}</address>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>