{% extends "::Admin.html.twig" %}
{% block header %}
          {{'Newsletter'|trans}}
<small>{{'setting'|trans}}</small>
{% endblock %} 
{% block ariane %}
  {{parent()}} <li><i class="fa fa-cog"></i>{{'newsletter'|trans}}</li>
{% endblock %}
{% block body %}
  <div class="col-md-12">
    <form action="{{path('delete_select_data',{repos: 'AppBundle:NlRecipient'})}}" method="POST">
      <div class="box  box-primary">
        <div class="box-header">
          <h3 class="box-title">Newsletter email </h3>
          <div class="box-tools pull-right">
            <button id="submit" type="submit" class="btn btn-danger btn-sm"> <span class="fa fa-trash"> </span> {{ 'delete.submit'|trans }}</button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> 
                  <label class="checkbox-container">{{'table.allselect'|trans}}
                    <input id="selectAll" class="checkbox" type="checkbox"> 
                    <span class="checkmark"></span>
                  </label>
                </th>
                <th>{{'table.email'|trans}}</th>
                <th> Date d'inscription</th>
                <th>{{'table.action'|trans}}</th>
              </tr>
            </thead>
            <tbody>
              {% for newsletter in newsletters %}
              <tr>
                <td>
                  <label class="checkbox-container">
                    <input class="select checkbox" type="checkbox" name="{{newsletter.id}}">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>{{ newsletter.email|raw }}</td>
                <td>{{ newsletter.createdAt|date('d M Y') }}</td>
                <td>
                   <!-- start view  -->
                  <span data-toggle="modal" href="#infos{{ newsletter.id }}" class="btn btn-default"><i class="fa fa-eye"></i></span>
                  <div class="modal" id="infos{{ newsletter.id }}">
                    <div class="modal-dialog">  <!-- modal-lg -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <b type="button" class="close" data-dismiss="modal">x</b>
                          <h4 class="modal-title">Newsletter</h4>
                        </div>
                        <div class="modal-body">
                          <div style="overflow:auto;"> {{newsletter.email}} {{ newsletter.createdAt|date('d M Y') }}</div>           
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end view -->
                  <a style="text-decoration: none;" data-confirm="{{"delete.confirm.message"|trans}}" href="{{ path('admin_newsletter_delete', { id: newsletter.id }) }}" class="btn btn-danger fa fa-trash"></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th style="width:10px">#</th>
                <th>{{'table.email'|trans}}</th>
                <th>Date d'inscription</th>
                <th>{{'table.action'|trans}}</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </form>
  </div>
    
{% endblock %}