{% extends "::baseAdmin.html.twig" %}
{% block filaria %}
  {{ parent() }}<li><a href="{{ path('admin_post_show') }}"><i class="glyphicon glyphicon-th-list"></i> Liste des Articles</a></li>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('asset/css/formStyle.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
{% for flash_message in app.session.flashbag.get('notice') %}
<div class="flash-notice alert alert-info">
{{ flash_message }}
</div>
{% endfor %}
   <h1>{{ post.title }}</h1>

   <table class="table table-bordered table-striped">
       <tbody>
           <tr class="tr">
               <th>Contenu</th>
               <td>{{ post.content|md2html }}</td>
           </tr>
           <tr class="tr">
               <th>Auteur</th>
               <td><p>{{ post.author }}</p></td>
           </tr>
           <tr class="tr">
               <th>Publié</th>
               <td><p>{{ post.date|date('d/m/Y H:i')}}</p></td>
           </tr>
       </tbody>
   </table>

{% endblock %}

                 