<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Asso Dashboard{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex,nofollow" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('admin/css/app.css') }}">
          <!-- Ionicons -->
          <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">

        {% endblock %}
        
        <style type="text/css">
        .titre{text-decoration: underline;}
        </style>
    </head>
<body class="hold-transition skin-blue sidebar-mini">
  {#{die(dump(app.user))}#}
  {#{die(dump(seo("accueil1")))}#}
  
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="{{path('admin_home')}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img width="50%" alt="Logo" src="{{ asset('img/logo.png') }}"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Victoire d'<b>Orphelins</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

     <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{path('admin_contact_index')}}">
              <i class="fa fa-envelope-o"></i>
              {{ render(controller('AppBundle:Admin/AdminContact:contact_notification')) }}
            </a>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ asset(app.user.image.webPath|default('admin/img/user.png'))}}" alt="{{app.user.username}} avatar" class="img-circle avatarUser" width="21" height="21" />
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{asset(app.user.image.webPath|default('admin/img/user.png')) }}" class="img-circle" alt="User Image"><br>

                <strong >

                   {{ app.user.username|upper }}
                </strong>
                  
                  
               
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ path('admin_user_profile') }}" class="btn btn-default btn-flat">{{'page.profile.link'|trans|upper }}</a>
                </div>
                <div class="pull-right">
                <a class="btn btn-default btn-flat" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle')| upper }}
                </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
 </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{asset( app.user.image.webPath|default('admin/img/user.png')) }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{#{ app.user.username|upper }#}</p>
          <a href="#"><i class="fa fa-circle text-success"></i>{{"user.status"|trans}}</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <li class="treeview">
          <a href="#">
            <i class="fa  fa-cogs"></i>
            <span>Paramètres</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% set link = render(controller('AppBundle:Admin/AdminSiteInfo:checkSiteInfo')) %}

            <li><a href="{{ link }}"><i class="fa fa-circle-o"></i>Infos du site</a></li>

          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-sliders"></i>
            <span>Sliders</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_slider_new') }}"><i class="fa fa-circle-o"></i>Ajouter un slider</a></li>
            <li><a href="{{ path('admin_slider_index') }}"><i class="fa fa-circle-o"></i>Liste des sliders</a></li>
            <li>
              <a href="#">
                <i class="fa fa-photo"></i>
                <span>Ariane Banner</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="{{ path('admin_ariane_banner_new') }}"><i class="fa fa-circle-o"></i>Ajouter un banner</a></li>
                <li><a href="{{ path('admin_ariane_banner_index') }}"><i class="fa fa-circle-o"></i>Liste des banners</a></li>
                <li><a href="{{ path('admin_ariane_banner_category_new') }}"><i class="fa fa-circle-o"></i>Ajouter une catégorie</a></li>
                <li><a href="{{ path('admin_ariane_banner_category_index') }}"><i class="fa fa-circle-o"></i>Liste des catégories</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- Events   -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-newspaper-o"></i>
            <span>Evènements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_event_new') }}"><i class="fa fa-circle-o"></i>Ajouter un évènement</a></li>
            <li><a href="{{ path('admin_event_index') }}"><i class="fa fa-circle-o"></i>Liste des évènements</a></li>
          </ul>
        </li>
        <!-- Events   End-->

        <!-- Activity   -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-list-alt"></i>
            <span>Activités</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_activity_new') }}"><i class="fa fa-circle-o"></i>Ajouter une activité</a></li>
            <li><a href="{{ path('admin_activity_index') }}"><i class="fa fa-circle-o"></i>Liste des activités</a></li>
          </ul>
        </li>
        <!-- Activity   End-->
        <!-- Post   -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-file-text-o"></i>
            <span>Articles</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_post_new') }}"><i class="fa fa-circle-o"></i>Ajouter une article</a></li>
            <li><a href="{{ path('admin_post_index') }}"><i class="fa fa-circle-o"></i>Liste des article</a></li>
            <li><a href="{{ path('admin_post_category_new') }}"><i class="fa fa-circle-o"></i>Ajouter une catégorie</a></li>
            <li><a href="{{ path('admin_post_category_index') }}"><i class="fa fa-circle-o"></i>Liste des catégories</a></li>
          </ul>
        </li>
        <!-- Events   -->

        <li class="treeview">
          <a href="#">
            <i class="fa fa-list"></i>
            <span>Parallax section</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_call_action_new') }}"><i class="fa fa-circle-o"></i>Ajouter un contenu</a></li>
            <li><a href="{{ path('admin_call_action_index') }}"><i class="fa fa-circle-o"></i>Liste des contenus</a></li>
            <li><a href="{{ path('admin_call_action_category_new') }}"><i class="fa fa-circle-o"></i>Ajouter une catégorie</a></li>
            <li><a href="{{ path('admin_call_action_category_index') }}"><i class="fa fa-circle-o"></i>Liste des catégories</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i>
            <span>L'équipe</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_team_new') }}"><i class="fa fa-circle-o"></i>Ajouter un membre</a></li>
            <li><a href="{{ path('admin_team_index') }}"><i class="fa fa-circle-o"></i>liste de l'équipe</a></li>
          </ul>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-film"></i>
            <span>Galerie</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_gallery_new') }}"><i class="fa fa-circle-o"></i>Ajouter un galerie</a></li>
            <li><a href="{{ path('admin_gallery_index') }}"><i class="fa fa-circle-o"></i>liste de la galerie</a></li>
            <li><a href="{{ path('admin_gallery_category_new') }}"><i class="fa fa-circle-o"></i>Ajouter un categorie</a></li>
            <li><a href="{{ path('admin_gallery_category_index') }}"><i class="fa fa-circle-o"></i>liste des categories</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-gift"></i>
            <span>Dons</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_donation_category_new') }}"><i class="fa fa-circle-o"></i>Ajouter un type de don</a></li>
            <li><a href="{{ path('admin_donation_category_index') }}"><i class="fa fa-circle-o"></i>Liste de types don</a></li>
          </ul>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-link"></i>
            <span>Partenaires</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('admin_partner_new') }}"><i class="fa fa-circle-o"></i>Ajouter un partenaire</a></li>
            <li><a href="{{ path('admin_partner_index') }}"><i class="fa fa-circle-o"></i>Liste des partenaires</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="{{path('admin_user_index')}}">
            <i class="fa fa-user"></i>
            <span>{{"menuadmin.user.title"|trans}}</span>
          </a>
        </li>
        <li class="treeview">
          <a href="{{path('admin_newsletter_index')}}">
            <i class="fa fa-wpforms"></i>
            <span>Newsletter</span>
          </a>
        </li>
        <li class="treeview">
          <a href="{{path('admin_contact_index')}}">
            <i class="fa fa-envelope"></i>
            <span>Messages</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
   <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% block header %}
          Dashboard
        <small>Control panel</small>
        {% endblock %} 
      </h1>
      <ol class="breadcrumb">
        {% block ariane %}
          <li><a href="{{path('admin_home')}}"><i class="fa fa-dashboard"></i> Home</a></li>
        {% endblock %}
      </ol>
    </section>
    <section class="content"  style="overflow:auto;">

      {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice alert alert-info">
        {{ flash_message }}
        </div>
      {% endfor %}
      {% for flash_message in app.session.flashbag.get('success') %}
        <div class="flash-notice alert alert-success">
        {{ flash_message }}
        </div>
      {% endfor %}
      {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="flash-notice alert alert-danger">
        {{ flash_message }}
        </div>
      {% endfor %}

    {% block body %}{% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    
    </div>
    <strong>Copyright &copy; {{ "now"|date('Y') }} <a href="{{ path('homepage') }}">Victoire de l'orphelin</a>.</strong>
  </footer>
  {% block javascripts %}
    <script type="text/javascript" src="{{ asset('admin/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/loggable.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
      $(function() {
        $('a[data-confirm]').click(function(ev) {
          var href = $(this).attr('href');
          
          if (!$('#dataConfirmModal').length) {
            $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">{{"delete.confirm.title"|trans}}</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">{{"delete.confirm.refuse"|trans|upper}}</button><a class="btn btn-danger" id="dataConfirmOK">{{"delete.confirm.accept"|trans|upper}}</a></div></div></div></div>');
          }
          $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
          $('#dataConfirmOK').attr('href', href);
          $('#dataConfirmModal').modal({show:true});
          
          return false;
        });
      });
      $(function () {
        $('#example1').DataTable();
        $('.example1').DataTable();
        $('#example2').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : false,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        });
      });
  </script>
  {% endblock %}
</body>
</html>
