<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% block seo %}
             
        {% endblock %}
        {% block stylesheets %}
             
        {% endblock %}
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107219508-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', 'UA-107219508-1');
        </script>
    </head>
    <body id="{% block body_id %}{% endblock %}">
      {% block header %}
      {% endblock %}

      {% block navigation %}
      {% endblock %}

      {% block ariane %} 
      {% endblock %}

      {% block body %}{% endblock %}

      {% block footer %}
      {% endblock %}

      {% block javascripts %}
           
      {% endblock %}
         
    </body>
</html>
