<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% block seo %}
             
             <title>Victoire de l'orphelin {% block seo_title %}{% endblock %}</title>
             <meta content="{% block seo_description %}{% endblock %}" name="description">
             <meta content="victoire de l'orphelin, orphelinat, orphelinat Bénin, 
             orphelinats du Bénin, orphelinat en Afrique, secours au sinistrés, education des orphelins" name="keywords">
             <meta content="Victoire de l'orphelin" name="author">
             <meta name="robots" content="index,follow"/>
             <meta name="googlebot" content="snippet,archive">
             <meta property="og:site_name" content="VICTOIRE DE L'ORPHELIN">
             <meta property="og:title" content="{% block seo_title_sub %}{% endblock %}">
             <meta property="og:description" content="{% block seo_content %}{% endblock %}">
             <meta property="og:type" content="website">
             <meta property="og:image" content="{% block seo_image %}{% endblock %}"> <!-- link to image for socio -->
             <meta property="og:url" content="{% block seo_url %}{% endblock %}"> 
             <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('theme/fancybox/css/fancybox.css') }}" media="screen" />
          <!-- Bootstrap -->
          <link href="{{ asset('theme/css/bootstrap.min.css') }}" rel="stylesheet">
          <link href="{{ asset('theme/css/bootstrap-theme.css') }}" rel="stylesheet">
          <link href="{{ asset('theme/css/font-awesome.min.css') }}" rel="stylesheet">
          <link href="{{ asset('theme/revolution-slider/css/settings.css') }}" rel="stylesheet">
          <link href="{{ asset('theme/css/global.css') }}" rel="stylesheet">
          <link href="{{ asset('theme/css/style.css') }}" rel="stylesheet">
          <link href="{{ asset('theme/css/responsive.css') }}" rel="stylesheet">
          <link href="{{ asset('theme/css/skin.css') }}" rel="stylesheet">
        {% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
          /* Parallax Home Banner */
          {#{ render(controller('AppBundle:Default:parallaxHomeBanner')) }#}
          /* Ariane Banner */
          {{ render(controller('AppBundle:Default:arianeBanner')) }}
        </style>
    </head>
    <body id="{% block body_id %}{% endblock %}">
      <div id="wrapper">
        <!--Header Section Start Here -->
        <header id="header">
          {% block header %}
            {{ render(controller('AppBundle:Default:headerSocials')) }}
          {% endblock %}

          {% block nav %}
            {{ include('includes/top_navbar.html.twig') }}
          {% endblock %}
        </header>
        <!-- Header Section End Here -->

        <div id="main">
          {% block body %}
              
            {% block slider %}{% endblock %}

            {% block ariane %}{% endblock %}

            {% block main %}{% endblock %}

            {% block aside %}{% endblock %}

          {% endblock %}
          </div>

        {% block footer %}
          {% for flash_message in app.session.flashbag.get('member') %}
              <div class="flash-notice callout callout-success">
                {{ flash_message }}
              </div>
          {% endfor %}
          {% for flash_message in app.session.flashbag.get('donate') %}
              <div class="flash-notice callout callout-success">
                {{ flash_message }}
              </div>
          {% endfor %}
          {{ render(controller('AppBundle:Default:donateModal'))}}

          {{ render(controller('AppBundle:Member:new'))}}

          {{ render(controller('AppBundle:Default:footerInfo'))}}
        {% endblock %}

        {% block javascripts %}
             <script src="{{ asset('theme/js/jquery.min.js') }}"></script>
             <script src="{{ asset('theme/js/jquery.cookie.js') }}"></script>
             <!-- Switcher Style End Js -->
             <script src="{{ asset('theme/js/bootstrap.min.js') }}"></script>
             <script src="{{ asset('theme/js/jquery.easing.min.js') }}"></script>
             <!--Main Slider Js-->
             <script src="{{ asset('theme/revolution-slider/js/jquery.themepunch.plugins.min.js') }}"></script>
             <script src="{{ asset('theme/revolution-slider/js/jquery.themepunch.revolution.js') }}"></script>
             <!--Main Slider End Js-->
             <script type="text/javascript" src="{{ asset('theme/fancybox/js/jquery.fancybox.js') }}"></script>
             <script type="text/javascript" src="{{ asset('theme/fancybox/js/custom.fancybox.js') }}"></script>
             
             <script src="{{ asset('theme/js/jquery.flexslider.js') }}"></script>
             <script src="{{ asset('theme/js/site.js') }}"></script>
             <script type="text/javascript">
                $(document).ready(function(){
                    var amount
                     input = $('input.inpt-first');
                    $(".choose-pricing button.btn").on('click', function(){
                        var amount = $(this).text().replace('Fcfa', ' ');
                        input.val(amount);
                        console.log(amount);
                    });
                });
             </script>
        {% endblock %}
      </div>
    </body>
</html>
