{% extends "::Admin.html.twig" %}
{% block body %}
	 <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{posts|length < 10 and posts|length > 0 ? '0' : ' '}}{{posts|length}}</h3>

              <p>{{"home.post.title"|trans}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-paper"></i>
            </div>
            <a href="{{path('admin_post_index')}}" class="small-box-footer">{{"home.moreinfo"|trans}} <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{users|length < 10 and users|length > 0 ? '0' : ' '}}{{users|length}}</h3>

              <p>{{"home.user.title"|trans}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="{{path('admin_user_index')}}" class="small-box-footer">{{"home.moreinfo"|trans}} <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
{% endblock %}