{% extends "Admin.html.twig" %}
{% block filaria %}
  {{ parent() }}<li><a href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fa fa-edit"></i> Editer utilisateur</a></li>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('asset/css/formStyle.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
{% for flash_message in app.session.flashbag.get('success') %}
<div class="flash-notice alert alert-info">
{{ flash_message }}
</div>
{% endfor %}
<div class="col-md-6">
  <div class="box box-primary box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Editer Utilisateur</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      {{ form_start(form, {'action': path('admin_user_edit', {'id': user.id}), 'method': 'POST',"class":"form-groupe"}) }}
      {{form_row(form.email, {"attr": {"class":"form-control"}})}}
      {{form_row(form.username, {"attr": {"class":"form-control"}})}}
      {{form_row(form.plainPassword, {"attr": {"class":"form-control"}})}}
      <br>
      <button type="submit" class="btn btn-primary">Enregister</button>
      {{ form_end(form)}}
    </div>

    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
{% endblock %}
