<script src="{{ asset("assets/jquery/jquery.js") }}"></script>
<script src="{{ asset("assets/jquery-ui/jquery-ui.min.js") }}"></script>
<script src="{{ asset("assets/elfinder/dist/js/elfinder.min.js") }}"></script>
<script src="{{ asset("assets/elfinder/dist/js/i18n/elfinder.#{locale}.js") }}"></script>
