{% extends "::Admin.html.twig" %}
{% block header %}
         {{'L\'equipe '}}
{% endblock %} 

{% block body%}
{% for flash_message in app.session.flashbag.get('notice') %}
	<div class="flash-notice alert alert-info">
	{{ flash_message }}
	</div>
{% endfor %}
<div class="container">
	<div class="col-md-8">
	  <!-- general form elements -->
	    <div class="box box-primary">
		    <div class="box-header with-border">
		       <h3 class="box-title">Ajouter un membre de l'équipe</h3>
		    </div>
		    <!-- /.box-header -->
		    <!-- form start -->
	        {{ form_start(form) }}
		      <div class="box-body">

		          {{form_row(form.amount)}}

		          {{form_row(form.donationCategory)}}
				<div class="row">
					<div class="col-md-6">
		          		{{form_row(form.name)}}	
					</div>
					<div class="col-md-6">
		          		{{form_row(form.lastname)}}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
		          		{{form_row(form.email)}}	
					</div>
					<div class="col-md-6">
		          		{{form_row(form.address)}}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
		          		{{form_row(form.phone)}}	
					</div>
					<div class="col-md-6">
		          		{{form_row(form.note)}}
					</div>
				</div>

		      </div>
		      <!-- /.box-body -->
		      <div class="box-footer">
		        <button type="submit" class="btn btn-primary">{{ 'new.submit'|trans }}</button>
		        	<a href="{{path('admin_team_index')}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
		      </div>

	  		{{ form_end(form)}} 
	    </div>
	  <!-- /.box -->
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('admin/js/app.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}