{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }} callout callout-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
    <br>
    <br>
	<div class="container">
    <div class="dividerHeading">
      <h4><span>{{ 'registration.submit'|trans|upper }}</span></h4>
    </div>
	   {% include "@FOSUser/Registration/register_content.html.twig" %}
	</div>
{% endblock %}