{% extends "::Admin.html.twig" %}
{% block header %}
          {{"contact.show"|trans}}
<small>{{'setting'|trans}}</small>
{% endblock %} 
{% block ariane %}
  {{parent()}} <li><i class="fa fa-cog"></i>{{'contact.show'|trans}}</li>
{% endblock %}
{% block body %}
	<div class="col-md-9">
		<div class="box box-primary">
			<div class="box-header with-border">
			  <h3 class="box-title">{{"contact.show"|trans}}</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body no-padding">
			  <div class="mailbox-read-info clearfix">
			    <h3>{{ contact.name|capitalize }}</h3>
			    <h5>{{contact.email}}</h5>
			    <span class="mailbox-read-time pull-right">{{contact.createdAt|date("d M Y h:i:s A")}}</span>
			  </div>
			  <!-- /.mailbox-controls -->
			  <div class="mailbox-read-message">
			    {{contact.message|raw}}
			  </div>
			  <!-- /.mailbox-read-message -->
			</div>
			<!-- /.box-body -->
			<!-- /.box-footer -->
			<div class="box-footer">
			  <div class="pull-right">
			    <a href="{{path('admin_contact_index')}}" class="btn btn-default"><i class="fa fa-reply"></i> {{"contact.back"|trans}}</a>
			  </div>
			  <a data-confirm="{{"delete.confirm.message"|trans}}" href="{{ path('admin_contact_delete', { id: contact.id }) }}" class="btn btn-default"> <i class="fa fa-trash-o"> </i> {{"contact.deleted"|trans}}</a>
			</div>
			<!-- /.box-footer -->
		</div>
      <!-- /. box -->
    </div>
{% endblock %}
