{% extends "::Admin.html.twig" %}
{% block header %}
          {{"contact.header.title"|trans}}
<small>{{'setting'|trans}}</small>
{% endblock %} 
{% block ariane %}
  {{parent()}} <li><i class="fa fa-cog"></i>Messages</li>
{% endblock %}
{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" type="text/css" href="{{ asset('dataTables.bootstrap.min.css') }}">
{% endblock %}
{% block body %}
  {% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice callout callout-success">
      {{ flash_message }}
    </div>
  {% endfor %}

<div class="col-md-12">
  <div class="box  box-primary">
    <div class="box-header">
      <h3 class="box-title">Messages</h3>
      <div class="box-tools pull-right">
        {% if see is defined %}
          <a href="{{ path('admin_contact_index') }}" class="btn btn-primary">  Messages non lus</a>
        {% endif %}
        {% if unsee is defined %}
          <a href="{{ path('admin_contact_see') }}" class="btn btn-primary"> Messages lus</a>
        {% endif %}
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th style="width:10px">#</th>
          <th>{{'table.name'|trans}}</th>
          <th>{{'table.action'|trans}}</th>
        </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
            <tr>
              <td>{{ contact.id }}</td>
              <td>{{ contact.name }}</td>
              <td>
                
                <a class="btn btn-default fa fa-eye" style="text-decoration: none;" href="{{ path('admin_contact_show', { id: contact.id }) }}"></a>
                <a style="text-decoration: none;" data-confirm="{{"delete.confirm.message"|trans}}" href="{{ path('admin_contact_delete', { id: contact.id }) }}" class="btn btn-danger fa fa-trash"></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th style="width:10px">#</th>
          <th>{{'table.name'|trans}}</th>
          <th>{{'table.action'|trans}}</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
    
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('admin/js/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/js/dataTables.bootstrap.min.js') }}"></script>
  <script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}