{% extends "::Admin.html.twig" %}
{% block header %}
         {{'Partenaires' }}
{% endblock %} 
{% block ariane %}
	{% if  category is defined or categoryalbum is defined or tag is defined or categoryregulation is defined or categoryservice is defined or groupefaq is defined %}
		{{parent()}} 
		<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{ariane_name1}}</a></li>
		<li><a href="{{path(ariane_path2)}}"><i class="fa fa-cog"></i>{{ariane_name2}}</a></li>
		<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% elseif slider is defined %}
		{{parent()}} 
			<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{ariane_name1}}</a></li>
			<li><a href="{{path(ariane_path2,{slider: slider})}}"><i class="fa fa-cog"></i>{{ariane_name2}}</a></li>
			<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% else %}
  		{{parent()}} <li><a href="{{path('admin_partner_index')}}"><i class="fa fa-cog"></i>{{'Partenaire'}}</a></li><li><i class="fa fa-plus"></i>{{'new.submit'|trans}}</li>
	{% endif %}
  
{% endblock %}
{% block body%}
{% for flash_message in app.session.flashbag.get('notice') %}
	<div class="flash-notice alert alert-info">
	{{ flash_message }}
	</div>
{% endfor %}
<div class="container">
	<div class="col-md-8">
	  <!-- general form elements -->
	    <div class="box box-primary">
		    <div class="box-header with-border">
		       <h3 class="box-title">Ajout de partenaires</h3>
		    </div>
		    <!-- /.box-header -->
		    <!-- form start -->
	        {{ form_start(form) }}
		      <div class="box-body">

		          {{form_row(form.name)}}
		          {{form_row(form.logo)}}
		          
		      </div>
		      <!-- /.box-body -->
		      <div class="box-footer">
		        <button type="submit" class="btn btn-primary">{{ 'new.submit'|trans }}</button>
		        	<a href="{{path('admin_partner_index')}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
		      </div>

	  		{{ form_end(form)}}
	    </div>
	  <!-- /.box -->
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('admin/js/app.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}