{% extends "Admin.html.twig" %}
{% block header %}
          {{'profile.header.title'|trans}}
<small>{{'setting'|trans}}</small>
{% endblock %} 
{% block ariane %}
  {{ parent() }}<li><i class="glyphicon glyphicon-th-list"></i> {{'page.profile.link'|trans }}</li>
{% endblock %}
{% block body %}
   
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle"alt="Photo avatar {{app.user.username|default('Pas précisé')}}" src="{{ asset(app.user.avatar.getWebPath|default('admin/img/user.png'))}}">

        <h3 class="profile-username text-center">{{ user.firstname|default('Pas précisé') }} {{ user.name|default('Pas précisé') }}</h3>

        <p class="text-muted text-center">{{ user.username|default('Pas précisé') }}</p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <address><span class="fa fa-map-marker"></span> {{ user.country|default('Pays pas précisé') }}</address>
          </li>
          <li class="list-group-item">
            <address><span class="fa fa-envelope"></span> {{ user.email|default('Email pas précisé') }}</address>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}