{{ include('admin/form/edit.html.twig', 
{
header: "user.header.title"|trans ~ '  <small>'~'setting'|trans~'</small>',
ariane_path:'admin_user_index',
ariane_name:'user.ariane'|trans,
action:'admin_user_new',
title:'user.edit.title'|trans,
role: true,
back_link: 'admin_user_index',

}) }}                 