{% extends "::Admin.html.twig" %}
{% block header %}
          {{'team index'}}
<small>{{'setting'|trans}}</small>
{% endblock %} 
{% block ariane %}
  {{parent()}} <li><i class="fa fa-cog"></i>{{'team'}}</li>
{% endblock %}
{% block body %}
  {% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice callout callout-success">
      {{ flash_message }}
    </div>
  {% endfor %}
  <div class="col-md-12">
    <form action="{{path('delete_select_data',{repos: 'AppBundle:Team'})}}" method="post">
      <div class="box  box-primary">
        <div class="box-header">
          <h3 class="box-title">{{'Parallax index' }}</h3>
          <div class="box-tools pull-right">
            <button id="submit" type="submit" class="btn btn-danger btn-sm"> <span class="fa fa-trash"> </span> {{ 'delete.submit'|trans }}</button>
            <a href="{{ path('admin_team_new') }}" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span>  {{ 'new.submit'|trans }}</a>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> 
                  <label class="checkbox-container">{{'table.allselect'|trans}}
                    <input id="selectAll" class="checkbox" type="checkbox"> 
                    <span class="checkmark"></span>
                  </label>
                </th>
                <th>#</th>
                <th>{{'Nom complet'}}</th>
                <th>{{'table.action'|trans}}</th>
              </tr>
            </thead>
            <tbody>
              {% for team in teams %}
              <tr>
                <td>
                  <label class="checkbox-container">
                    <input class="select checkbox" type="checkbox" name="{{team.id}}">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>{{ loop.index }}</td>
                <td><b class="text-primary">{{ team.firstname ~ ' ' ~ team.lastname }}</b></td>
                <td>
                   <!-- start view  -->
                  <span data-toggle="modal" href="#infos{{ team.id }}" class="btn btn-default"><i class="fa fa-eye"></i></span>
                  <div class="modal" id="infos{{ team.id }}">
                    <div class="modal-dialog">  <!-- modal-lg -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <b type="button" class="close" data-dismiss="modal">x</b>
                          <h4 class="modal-title">{{'Call Action'}}</h4>
                        </div>
                        <div class="modal-body">
                          <div style="overflow:auto;">{{ team.firstname ~ ' ' ~ team.lastname }} </div>           
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end view -->
                  <a class="btn btn-default fa fa-edit" style="text-decoration: none;" href="{{ path('admin_team_edit', { id: team.id }) }}"></a>
                  <a style="text-decoration: none;" data-confirm="{{"delete.confirm.message"|trans}}" href="{{ path('admin_team_delete', { id: team.id }) }}" class="btn btn-danger fa fa-trash"></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th style="width:10px">#</th>
                <th>{{'table.name'|trans}}</th>
                <th>{{'table.action'|trans}}</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </form>
  </div>
    
{% endblock %}