{% extends "::Admin.html.twig" %}
{% block header %}
          {{"postcat.header.title"|trans}}
<small>Paramètres</small>
{% endblock %} 
{% block ariane %}
  {{parent()}} 
  <li><a href="{{path('admin_post_index')}}"><i class="fa fa-cog"></i>{{"post.ariane"|trans}}</a></li>
  <li><i class="fa fa-cog"></i>{{"postcat.ariane"|trans}}</li>
{% endblock %}
{% block body %}
  {% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice callout callout-success">
      {{ flash_message }}
    </div>
  {% endfor %}
    <div class="col-md-12">
      <form action="{{path('delete_select_data',{repos: 'AppBundle:Category'})}}" method="post">
        <div class="box  box-primary">
          <div class="box-header">
            <h3 class="box-title">{{"postcat.header.title"|trans}}</h3>
            <div class="box-tools pull-right">
              <button id="submit" type="submit" class="btn btn-danger btn-sm"> <span class="fa fa-trash"> </span> {{ 'delete.submit'|trans }}</button>
              <a href="{{ path('admin_post_category_new') }}" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span>  {{ 'new.submit'|trans }}</a>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th> 
                  <label class="checkbox-container">{{'table.allselect'|trans}}
                    <input id="selectAll" class="checkbox" type="checkbox"> 
                    <span class="checkmark"></span>
                  </label>
                </th>
                <th>{{'table.name'|trans}}</th>
                <th>{{'table.action'|trans}}</th>
              </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                    <tr>
                      <td>
                        <label class="checkbox-container">
                          <input class="select checkbox" type="checkbox" name="{{category.id}}">
                          <span class="checkmark"></span>
                        </label>
                      </td>
                      <td>{{ category.name }}</td>
                      <td>
                        <a class="btn btn-default fa fa-edit" style="text-decoration: none;" href="{{ path('admin_post_category_edit', { id: category.id }) }}"></a>
                        <a data-confirm="{{"delete.confirm.message"|trans}}" style="text-decoration: none;"  href="{{ path('admin_post_category_delete', { id: category.id }) }}" class="btn btn-danger fa fa-trash"></a>
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
              <tfoot>
              <tr>
                <th style="width:10px">#</th>
                <th>{{'table.name'|trans}}</th>
                <th>{{'table.action'|trans}}</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </form>
    </div>
{% endblock %}