{% extends "@FOSUser/layout.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('theme/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />         
    <link href="{{ asset('theme/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />         
{% endblock %}
{% block body_id "login_page" %}
{% block fos_user_content %}
    	{{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
