{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }} callout callout-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block fos_user_content %}
        {% endblock fos_user_content %} 
        
    </div><br><br>
{% endblock %}
        