{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-4 col-md-offset-4">
	<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	    <div class="form-group">
	        <label for="username">{{ 'resetting.request.username'|trans }}</label>
	        <input class="form-control" type="text" id="username" name="username" required="required" />
	    </div>
	    <divclass="form-group">
	        <input class="btn btn-default" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
	    </div>
	</form>
</div>