{% extends 'base.html.twig' %}
{% block seo %}
    <meta charset="utf-8">
    <title>Le blog de CECA ASSURANCE</title>
    <meta content="Bienvenu sur Le blog de CECA ASSURANCE" name="description">
    <meta content="assurance, courtier assurance, assurance courtier" name="keywords">
    <meta content="CECA ASSURANCE" name="author">
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="snippet,archive">
    <meta property="og:site_name" content="CECA ASSURANCE">
    <meta property="og:title" content="Le blog de CECA ASSURANCE">
    <meta property="og:description" content="Bienvenu sur Le blog de CECA ASSURANCE">
    <meta property="og:type" content="website">
    {# <meta property="og:image" content="{{infos.logo}}"> #}<!-- link to image for socio -->
    <meta property="og:url" content="{{path('blog')}}">     
{% endblock %}
{% block body %}
    <div>
      <ul>
      {% for post in posts %}
        <li>{{ post.title }}</li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}