<!-- join now form popup -->
<div class="modal join-now-form">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<header class="page-header">
					<h2>Devenir un <strong>Membre</strong></h2>
				</header>
			</div>
			<div class="modal-body">
				{{ form_start(form) }}
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12 col-sm-6">
								{{ form_row(form.firstname) }}
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								{{ form_row(form.lastname) }}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12 col-sm-6">
								{{ form_row(form.email) }}
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								{{ form_row(form.phone) }}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12 col-sm-6">
								{{ form_row(form.zipCode) }}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12">
								{{ form_row(form.reason) }}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12">
								<button type="submit" class="btn btn-default pull-right">
									Envoyer
								</button>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12">
								<p class="forms-notes">
									
								</p>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- join now form popup -->