<!-- Become Volunteer Section Start Here -->
<section class="parallax-section parallax" style="background-image:url('{{ asset(callAction.medias[0].url) }}');">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-5">
                <h2><strong>{{ callAction.title }}</strong></h2>
                <p>
                    {{ callAction.content|striptags|truncate(200)|raw  }}
                </p>
                <a data-toggle="modal" href="javascript:;" data-target=".join-now-form" class="btn btn-default">{{ callAction.firstBtn|default('Devenir Membre') }}</a>
            </div>
        </div>
    </div>
</section>
<!-- Become Volunteer Section End Here -->