{% if callAction is defined %}
<!-- Save Lives Section Start Here-->
<section class="save-lives text-center parallax" style="background-image:url('{{ asset(callAction.medias[0].url) }}');">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<header class="page-header">
					<h2><strong>{{ callAction.title }}</strong></h2>
					<p>
						{{ callAction.content|striptags|truncate(150)|raw }}
					</p>
				</header>

				<a href="{{ path('donate')}}" class="btn btn-default">{{ callAction.firstBtn|default('Faire un Don') }}</a>

				{% if callAction.secondBtn is defined %}
					<a data-toggle="modal" href="{{ path('our_work') }}" data-target=".donate-form" class="btn btn-default">{{ callAction.secondBtn }}</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<!-- Save Lives Section Start Here-->
{% endif %}