<div class="row">
	<div class="col-xs-12 col-sm-6 contact-form">
		<div class="col-xs-12" id="success"></div>
		<h2>Envoyez nous un Message</h2>
		{{ form_start(form) }}
			
			{% for flash_message in app.session.flashbag.get('contact') %}
				<div class="flash-notice alert alert-success">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					{{ flash_message }}
				</div>
			{% endfor %}

			<div class="row">
				<div class="form-group col-xs-12 col-sm-6">
					{{ form_row(form.name) }}
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					{{ form_row(form.email) }}
				</div>
			</div>
			{{ form_row(form.subject) }}
			<div class="form-group">
				{{ form_row(form.message) }}
			</div>

			<button type="submit" class="btn btn-default" id="submit">
				Envoyer
			</button>
		{{ form_end(form) }}
	</div>
	<div class="col-xs-12 col-sm-5 col-sm-offset-1 contact-address">
		<h2>Nous Joindre</h2>
		<address>
			<span> <strong>Adressz :</strong> <span> {{ siteInfo.location }}</span> </span>
			<span> <strong>E-Mail :</strong> <span><a href="mailto:contact@charity.com">{{ siteInfo.email }}</a></span> </span>
			<span> <strong>Tel :</strong> <span><a href="tel:{{ siteInfo.telephone }}">{{ siteInfo.telephone }}</a></span> </span>
		</address>
	</div>
</div>