<div class="modal donate-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <header class="page-header">
                    <h2>Don aux <strong> Orphelins</strong></h2>
                </header>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {% for flash_message in app.session.flashbag.get('donate') %}
                    <div class="flash-notice callout callout-success">
                      {{ flash_message }}
                    </div>
                {% endfor %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-12">
                                <label>Montant du Don ?</label>
                                <div class="choose-pricing">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default active">5 000 Fcfa</button>
                                        <button type="button" class="btn btn-default">10 000 Fcfa</button>
                                        <button type="button" class="btn btn-default">15 000 Fcfa</button>
                                        {{ form_widget(form.amount, {'attr':{'class': 'inpt-first'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row display">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="dropdown">
                                    {{ form_widget(form.category) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                {{form_row(form.name)}}
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                {{form_row(form.lastname)}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                {{form_row(form.email)}}
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                {{form_row(form.phone)}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                {{form_row(form.address)}}
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                {{form_row(form.note)}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <input type="submit" value="Faire" class="btn btn-default pull-right">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <!-- <p class="forms-notes">
                                    Note: Lorem ipsum dolor sit amet
                                </p> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>