<!-- How To Help Section Start Here -->
<section class="how-to-help">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <header class="page-header section-header">
                    <h2>Faîtes un <strong> Don</strong></h2>
                </header>
                <div class="row help-list">
                    <div class="col-xs-12 col-sm-8 col-lg-8">
                        {% for item in donateTexts %}
                        <article class="media">
                            <a class="pull-left warning-icon-box" href="external.html" data-toggle="modal" data-target=".donate-form"><i class="icon-heart"></i></a>
                            <div class="media-body less-width">
                                <h3 class="media-heading">{{ item.title }}</h3>
                                <p>
                                    {{ item.content|striptags|truncate(450)|raw }}
                                </p>
                            </div>
                        </article>
                    	{% endfor %}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1">
						<div class="donate-btn text-center">
                        	<a data-toggle="modal" href="#" data-target=".donate-form" class="btn btn-default">
                        		Faire un don
                        	</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How To Help Section End Here-->