<!--Footer Section Start Here -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="footer-logo">
                    <a href="index.html" title="Welcome to Charity"><img src="{{ asset('theme/img/logo.png') }}" alt="Victoire d'Orphelins"></a>
                </div>
                <p>
                    {{ siteInfo.description|striptags|truncate(250)|raw }}
                </p>
                <address>
                    <span> <i class="fa fa-home"></i> <span>{{ siteInfo.location }}</span> </span>
                    <span> <i class="fa fa-phone-square"></i> <span>{{ siteInfo.telephone }}</span> </span>
                    <span> <i class="fa fa-envelope"></i> <span><a href="mailto:{{ siteInfo.email }}">{{ siteInfo.email }}</a></span> </span>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4 twitter-update">
                <h6>Modes de contribution</h6>
                {% if donationTypes is defined %}
                    {% for item in donationTypes %}
                        <p>
                            <a href="#">
                                <strong class="comment-time charity">{{ item.title }}</strong> 
                                {{ item.content|striptags|truncate(100)|raw }}
                            </a>
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ render(controller('AppBundle:Newsletter:newsletterForm', {'siteInfo': siteInfo}))}}
                <h6>Suivez nous sur les resaux sociaux</h6>
                <ul class="social-icons">
                {% for social in siteInfo.socials %}
                    <li>
                        <a href="//{{ social.url }}" target="_blank"><i class="fa fa-{{ (social.name == 'google*' ? (social.name ~ '-plus') : social.name)|lower }}"></i></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span> &copy; Copyright {{ 'now'|date('Y') }}, tous droits reservés.
									</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer Section End Here -->