<div class="container">
	<div class="row primary-header">
		<a href="{{ path('homepage') }}" class="col-xs-12 col-sm-2 brand" title="Welcome to Charity"><img src="{{ asset('theme/img/logo.png') }}" alt="Victoire d'Orphelins"></a>
		<div class="social-links col-xs-12 col-sm-10">
			<a href="#" data-toggle="modal" data-target=".join-now-form" class="btn btn-default btn-volunteer">Devenir Membre</a>
			<ul class="social-icons hidden-xs">
				{% for social in info.socials %}
					<li>
						<a href="//{{ social.url }}" target="_blank"><i class="fa fa-{{ (social.iconCode|default(social.name))|lower }}"></i></a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>