<!-- Latest News Section Start Here -->
<section class="latest-news ">
    <div class="container">
        <div class="row">
                <div class="col-xs-12">
                    <header class="page-header section-header clearfix">
                        <h2><strong>Les Evenements en vue</strong></h2>
                    </header>
                    <div class="article-list row">
                        {% for event in events %}
                        <div class="items zoom col-xs-12 col-sm-4">
                            <a href="#" class="img-thumb">
                                <figure>
                                    <img src="{{ asset(event.medias[0].url|default(event.title)) }}" alt="{{ event.title }}">
                                </figure>
                            </a>
                            <h3>{{ event.title }}</h3>
                            <span class="date">{{ event.eventDate|date('d M Y') }}</span>
                            <p>{{ event.content|truncate(150)|raw }}</p>
                            <a href="{{ path('event_show', {'slug': event.slug}) }}" class="btn btn-default">Lire la suite</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- Latest News Section End Here -->