<section class="rev_slider_wrapper banner-section">
    <div class="rev_slider banner-slider">
        <ul>
            {% for slide in sliders %}
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
                <!-- MAIN IMAGE -->
                <img src="{{ asset(slide.medias[0].url|default('theme/img/slide-banner-03.jpg')) }}" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">
                <div
                data-endspeed="800"
                data-easing="easeOutCirc"
                data-start="800"
                data-speed="700"
                data-y="150"
                data-x="152"
                class="tp-caption sft banner-heading third-style">
                <h2>{{ slide.content|raw }}</h2>
                </div>
                <div data-endspeed="1000" data-easing="easeOutCirc" data-start="1000" data-speed="700" data-y="244" data-x="152" class="tp-caption sft third-style banner-summary banner-description">
                    <p></p>
                </div>
                <div data-endspeed="1200" data-easing="easeOutCirc" data-start="1200" data-speed="700" data-y="354" data-x="152" class="tp-caption sft banner-btn">
                    <a data-toggle="modal" href="#" data-target=".donate-form" class="btn btn-default" style="border-color:#eecd49;color:#eecd49">Faire un Don</a>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
</section>
<!-- banner slider End Here -->