<h6>Abonnez Vous à la boite au lettre</h6>
<p>
    {{ siteInfo.contactFormText|default('Abonnez en entrant juste votre email pour etre informé de nos futures activités.')|raw }}
</p>
{{ form_start(form, {'action': path('newsletter_form'), 'method': 'POST', 'attr':{'class':'sign-up'}}) }}
    <div class="input-group">
        {{ form_widget(form.email, {'attr':{'placeholder':'Email'}}) }}
        <div class="input-group-addon">
            <input type="submit" class="btn btn-theme" value="Envoyer">
        </div>
    </div>
{{ form_end(form) }}