{% if teams is defined %}
<!-- Our Team Section Start Here -->
<div class="container">
	<div class="our-team text-center row">
		<div class="col-xs-12">
			<header class="team-info section-header">
				<h2>Rencontrez notre<strong class="border-none"> équipe</strong></h2>
			</header>
			<div class="row">
				{% for team in teams %}
				<div class="col-xs-12 col-sm-3 anim-section">
					<div class="thumbnail">
						<figure>
						<img src="{{ asset(team.medias[0].url|default('Galerie/team/avatar.jpg')) }}" alt="">
						</figure>
						<div class="caption">
							<h3>{{ team.firstname ~ ' ' ~ team.lastname }}</h3>
							<ul class="social-icons">
								{% for social in team.socials %}
									<li>
										<a href="//{{ social.url }}"><i class="fa fa-{{ (social.name == 'google*' ? (social.name ~ '-plus') : social.name)|lower }}"></i></a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Our Team Section Start Here -->
{% endif %}