<!-- Services Section Start Here-->
<section class="container services text-center">
    <div class="row">
        <div class="col-xs-12">
            <header class="service-header section-header">
                <h2>Voici nos <strong >activités</strong></h2>
            </header>
            <div class="row">
                {% for activity in activities %}
                    <div class="col-xs-12 col-sm-4 zoom">
                        <img src="{{ asset(activity.medias[0].url) }}" alt="">
                        <h3 class="h3">{{ activity.title }}</h3>
                        <p>
                            {{ activity.content|striptags|truncate(150)|raw }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Services Section End Here-->