<section class="we-help gallery-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--Sub Breadcrumb Section Start Here-->
                <ol class="breadcrumb">
                	{% for category in galleryCategories %}
	                    <li>
	                        <a href="#">{{ category.name }}</a>
	                    </li>
                	{% endfor %}
                </ol>
                <!--Sub Breadcrumb Section Start Here-->
                <!--Gallery Section Start Here-->
                <div class="row gallery anim-section">
                	{% for item in galleries %}
                    <div class="cols-xs-12 col-sm-4">
                        <div class="thumbnail">
                            <a class="fancybox-effects-a img-thumb" href="{{ asset(item.medias[0].url) }}" rel="next">
													<img src="{{ asset(item.medias[0].url) }}" alt="{{ item.title }}"></a>
                            <h3 class="h3"><a  href="{{ path('gallery_show', {'slug': item.slug}) }}">{{ item.title }}</a></h3>
                            <p>
                                {{ item.content|striptags|truncate(150)|raw }}
                            </p>
                        </div>
                    </div>
               		{% endfor %}
                <!--Gallery Section End Here-->
            </div>
            <!--Pagination Section Start Here-->
            <!-- <div class="cols-xs-12 text-center">
                <ul class="pagination">
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div> -->
            <!--Pagination Section Start Here-->
        </div>
    </div>
</section>
<!-- Gallery sections Start Here -->