<!-- What We Do Section Start Here-->
<section class="our-works row anim-section">
	<div class="col-xs-12">
		<header class="work-block-heading section-header">
			<h2>What we do? <strong>See Our Works</strong></h2>
		</header>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="thumbnail zoom">
					<h3>Personal Funds</h3>
					<a href="blog-full-width.html" class="img-thumb">
						<figure>
						<img src="{{ asset('theme/img/img-slide-01.jpg') }}" alt="">
						</figure>
						</a>
					<p>
						We support to you raise fund for charity causes that can be used to improve the quality of African children, who are living in the worst condition.
					</p>
					<p>
						<a href="blog-full-width.html" class="btn btn-default btn-sm" role="button">READ MORE</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- What We Do Section Start Here-->