{% if ourGoal is defined %}
<!-- Our Story Section Start Here -->
<section class="our-story row">
	<div class="col-xs-12">
		<header class="story-heading section-header">
			<h2><strong>{{ ourGoal.title }}</strong></h2>
		</header>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-sm-push-7">
				<section class="slider-wrap flexslider">
					<ul class="slides">
						{% for media in ourGoal.medias %}
							<li>
								<img src="{{ asset(media.url) }}" alt="{{ ourGoal.title }}">
							</li>
						{% endfor %}
					</ul>
				</section>
			</div>
			<div class="col-xs-12 col-sm-7 col-sm-pull-5">
				<p>
					{{ ourGoal.content|raw }} 
				</p>
			</div>
		</div>
	</div>
</section>
<!-- Our Story Section Start Here -->
{% endif %}