{% if recentActivities is defined %}
<!-- Our Causes Section Start Here-->
<section class="our-causes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h2><strong>Nos recentes activités</strong></h2>
                </div>
                <div class="article-list flexslider article-slider progressbar">
                    <ul class="slides">
                        {% for activity in recentActivities %}
                        <li>
                            <div class="items zoom">
                                <h3 class="h6">{{ activity.title }}</h3>
                                <a href="#" class="img-thumb">
                                    <figure>
                                        <img src="{{ asset(activity.medias[0].url|default('theme/img/img-slide-01.jpg')) }}" alt="{{ activity.title }}" style="height: 235px;">
                                    </figure>
                                </a>
                                
                                <p>
                                    {{ activity.content|striptags|truncate(150)|raw }}
                                </p>
                                <a href="{{ path('blog_post', {'slug': activity.slug}) }}" class="btn btn-default">Lire la suite</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Causes Section End Here-->
{% endif %}