<!--Testimonial Section Start Here -->
<section class="donation-holder holders">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>What Donation Holders say </h2>
                <div class="col-xs-12 col-md-12">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="testimonial-content">
                                    <div class="img-circle photo-frame">
                                        <img src="{{ asset('theme/img/img-testimonial.jpg')  }}" alt="" class="img-circle">
                                    </div>
                                    <blockquote>
                                        <p> <i class="fa fa-quote-left quote-mark"></i> Thanks to Charity for giving me such an inspiration to support poor people. Your innovative fundraising ideas can prove to be fruitful for personal causes. This way, I can put smile on face of at least one child.
                                        </p>
                                        <footer>
                                            <span>Jhon doe </span>
                                            <cite>(New media of Marketing firm)</cite>
                                        </footer>
                                    </blockquote>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Flex -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial Section End Here -->