<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ path('homepage')}}" >Acceuil</a>
                    </li>
                    <li>
                        <a href="{{ path('about')}}" >A propos</a>
                    </li>
                    <li>
                        <a href="{{ path('our_work')}}" >Nos activités</a>
                    </li>
                    <li>
                        <a href="{{ path('gallery')}}" >Galerie</a>
                    </li>
                    <li>
                        <a href="{{ path('donate')}}" >Faire un Don</a>
                    </li>
                    <li>
                        <a href="{{ path('contact_us')}}" >Contact</a>
                    </li>
                </ul>
            </nav>
            <form class="navbar-form navbar-right search-form" role="search" method="POST" action="{{ path('search_engin')}}">
                <div class="form-group">
                    <input type="text" class="form-control" name="_search" placeholder="Recherche Ici">
                </div>
                <button type="submit">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</div>