{{ include('admin/form/new.html.twig', 
{

header: "Categorie section Parallax"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_call_action_index',
ariane_path2:'admin_call_action_category_index',
category:true,
ariane_name1:"Parallax"|trans,
ariane_name2:"Categorie Parallax"|trans,
action:"admin_call_action_category_new",
title:"Ajout de category"|trans,
back_link: 'admin_call_action_category_index',

}) }}