{% extends "::Admin.html.twig" %}
{% block header %}
         {{header|raw}}
{% endblock %} 
{% block ariane %}
	{% if  category is defined or categoryalbum is defined or tag is defined or categoryregulation is defined or categoryservice is defined or groupefaq is defined %}
		{{parent()}} 
		<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{ariane_name1}}</a></li>
		<li><a href="{{path(ariane_path2)}}"><i class="fa fa-cog"></i>{{ariane_name2}}</a></li>
		<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% elseif slider is defined %}
		{{parent()}} 
			<li><a href="{{path(ariane_path1)}}"><i class="fa fa-cog"></i>{{ariane_name1}}</a></li>
			<li><a href="{{path(ariane_path2,{slider: slider})}}"><i class="fa fa-cog"></i>{{ariane_name2}}</a></li>
			<li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% else %}
  		{{parent()}} <li><a href="{{path(ariane_path)}}"><i class="fa fa-cog"></i>{{ariane_name}}</a></li><li><i class="fa fa-edit"></i>{{'edit.submit'|trans}}</li>
	{% endif %}
{% endblock %}
{% block body %}
{% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice callout callout-success">
      {{ flash_message }}
    </div>
{% endfor %}
	<div class="container">
		<div class="col-md-8" id="entity_block">
			<!-- general form elements -->
		    <div class="box box-primary">
			    <div class="box-header with-border">
			       <h3 class="box-title">{{title}}</h3>
			       <div class="box-tools pull-right">
				    </div>
			    </div>
			    <!-- /.box-header -->
			    <!-- form start -->
			    {% if form is defined %}
					{{ form_start(form, {"attr": {"role":"form"}}) }}
				      <div class="box-body">
				          {{form_widget(form)}}
				      </div>
				      <!-- /.box-body -->

				      <div class="box-footer">
				        <button type="submit" class="btn btn-primary">{{ 'edit.submit'|trans }}</button>
				        {% if back_link is defined %}
				        	<a href="{{path(back_link)}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
				        {% endif %}
				      </div>
			  		{{ form_end(form)}}
				{% elseif  edit_form is defined%}

					{{ form_start(edit_form, {"attr": {"role":"form"}}) }}
						<div class="box-body">
						   {{form_widget(edit_form)}}
						</div>
						<!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">{{ 'edit.submit'|trans }}</button>
							{% if back_link is defined %}
					        	<a href="{{path(back_link)}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
					        {% endif %}
						</div>
					{{ form_end(edit_form)}}
		  		{% elseif  setting_form is defined%}
		  		    {{ form_start(setting_form, {"attr": {"role":"form"}}) }}
				  		<div class="box-body">
				  		 	<div class="col-md-6">
				  		 		<div class="box box-primary">
							        <div class="box-header with-border">
							          <h3 class="box-title">{{ 'label.setting.header'|trans }}</h3>

							          <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							          </div>
							        </div>
							        <!-- /.box-header -->
							        <div class="box-body">
										{{form_row(setting_form.title)}}
										{{form_row(setting_form.logo)}}
										{{form_row(setting_form.slogan)}}
							        </div>
											         <!-- /.box-body -->
							        <div class="box-footer">
							        </div>
							    </div>
				  		 	</div>
				  		 	<div class="col-md-6">
				  		 		<div class="box box-primary">
							        <div class="box-header with-border">
							          <h3 class="box-title">{{ 'label.setting.footer'|trans }}</h3>

							          <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							          </div>
							        </div>
							        <!-- /.box-header -->
							        <div class="box-body">
										{{form_row(setting_form.footertext1)}}
										{{form_row(setting_form.footertext2)}}
										{{form_row(setting_form.footertext3)}}
							        </div>
											         <!-- /.box-body -->
							        <div class="box-footer">
							        </div>
							    </div>
				  		 	</div>
				  		 	<div class="col-md-6">
				  		 		<div class="box box-primary">
							        <div class="box-header with-border">
							          <h3 class="box-title">{{ 'label.setting.contacts'|trans }}</h3>

							          <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							          </div>
							        </div>
							        <!-- /.box-header -->
							        <div class="box-body">
										{{form_row(setting_form.adress)}}
										{{form_row(setting_form.telfix)}}
										{{form_row(setting_form.telmobile)}}
										{{form_row(setting_form.email)}}
										{{form_row(setting_form.fax)}}
										{{form_row(setting_form.bp)}}
										{{form_row(setting_form.googleMap)}}
							        </div>
											         <!-- /.box-body -->
							        <div class="box-footer">
							        </div>
							    </div>
				  		 	</div>
				  		 	<div class="col-md-6">
				  		 		<div class="box box-primary">
							        <div class="box-header with-border">
							          <h3 class="box-title">{{ 'label.setting.links'|trans }}</h3>

							          <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							          </div>
							        </div>
							        <!-- /.box-header -->
							        <div class="box-body">
										{{form_row(setting_form.facebook)}}
										{{form_row(setting_form.googleplus)}}
										{{form_row(setting_form.twitter)}}
										{{form_row(setting_form.linkedin)}}
										{{form_row(setting_form.skype)}}
										{{form_row(setting_form.instagram)}}
										{{form_row(setting_form.youtube)}}
							        </div>
											         <!-- /.box-body -->
							        <div class="box-footer">
							        </div>
							    </div>
				  		 	</div>
				  		</div>
				  		<div class="box-footer">
					        <button type="submit" class="btn btn-primary">{{ 'edit.submit'|trans }}</button>
					        {% if back_link is defined %}
					        	<a href="{{path(back_link)}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
					        {% endif %}
					    </div>
			  	    {{ form_end(setting_form)}}
			    {% endif %}
		  		
		    </div>
		  	<!-- /.box -->
		</div>
        <!-- /.col -->
        <div class="col-md-12" id="history_block">
        	{% if logs is defined %}
        	<form action="{{path('delete_select_history')}}" method="post">
			    <div class="box box-primary">
				    <div class="box-header with-border">
				        <h3 class="box-title">{{"edit.history"|trans|upper}}</h3>
				        <div class="box-tools pull-right">
					    	<button id="submit" type="submit" class="btn btn-danger btn-sm"> <span class="fa fa-trash"> </span> {{ 'delete.submit'|trans }}</button>
					    	<span id="history" class="btn btn-sm btn-default fa fa-eye-slash"></span>
					    </div>
				    </div>
					<div class="box-body">
						<table id="example1" class="table table-bordered table-striped">
					        <thead>
						        <tr>
						          <th> 
					                <label class="checkbox-container">{{'table.allselect'|trans}}
					                  <input id="selectAll" class="checkbox" type="checkbox"> 
					                  <span class="checkmark"></span>
					                </label>
					              </th>
						          <th>{{'table.time'|trans}}</th>
						          <th>{{'table.action'|trans}}</th>
						        </tr>
					        </thead>
					        <tbody>
					            {% for key, log in logs %}
						            <tr>
						              <td>
						              	<label class="checkbox-container">
						                    <input class="select checkbox" type="checkbox" name="{{log.id}}">
						                    <span class="checkmark"></span>
						                </label>
						              </td>
						               <td>{{log.loggedAt|date("d  M  Y  H:i")}}</td>
						              <td>
						                {% if post is defined %}
											<a class="btn btn-success" href="{{path("restore_history",{back:'admin_post_index',repos:'AppBundle:Post',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if service is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_service_index',repos:'AppBundle:Service',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if about is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_about_index',repos:'AppBundle:About',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if album is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_album_index',repos:'AppBundle:Album',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								       	{% if categoryservice is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_categoryservice_index',repos:'AppBundle:Categoryservice',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if categoryalbum is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_categoryalbum_index',repos:'AppBundle:Categoryalbum',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if regulation is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_regulation_index',repos:'AppBundle:Regulation',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if category is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_category_index',repos:'AppBundle:Category',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if categoryregulation is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_categoryregulation_index',repos:'AppBundle:Categoryregulation',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if groupefaqs is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'groupefaq_index',repos:'AppBundle:Groupefaqs',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if globalinfos is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_globalinfos_index',repos:'AppBundle:Globalinfos',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if faq is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'faqs_index',repos:'AppBundle:Faqs',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if partner is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_partner_index',repos:'AppBundle:Partner',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if tag is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_post_tag_index',repos:'AppBundle:Tag',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if team is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_team_index',repos:'AppBundle:Team',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        
								        {% if sliderimage is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_sliderimage_index',repos:'AppBundle:Sliderimage',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if user is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_user_index',repos:'AppBundle:User',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        {% if template is defined %}
											 <a class="btn btn-success" href="{{path("restore_history",{back:'admin_template_index',repos:'AppBundle:Template',id:id,version:log.version})}}"><span class="fa fa-recycle"></span></a>
								        {% endif %}
								        <a class="btn btn-danger" data-confirm="{{"delete.confirm.message"|trans}}" href="{{path("delete_history",{id:log.id})}}"><span class="fa fa-trash"></span></a>
								        <!-- start view  -->
								        <span data-toggle="modal" href="#log{{ key }}" class="btn btn-default"><i class="fa fa-eye"></i></span>
							            <div class="modal" id="log{{ key }}">
								            <div class="modal-dialog">  <!-- modal-lg -->
									            <div class="modal-content">
									                <div class="modal-header">
									                  <button type="button" class="close" data-dismiss="modal">x</button>
									                  <h4 class="modal-title">
									                  	{{log.data.title is defined ? log.data.title|upper : ' '}}
									                  	{{log.data.name is defined ? log.data.name|upper : ' '}}
									                  	{{log.data.firstname is defined ? log.data.firstname|upper : ' '}}
									                  	{{log.data.fullname is defined ? log.data.fullname|upper : ' '}}
									                  </h4>
									                </div>
									                <div class="modal-body">
														{% if log.data.text is defined %}
															{{log.data.text|raw}}
									                	{% endif %}
									                	{% if log.data.image is defined %}
															<img src="{{log.data.image}}" class="img-responsive" width="100%">
									                	{% endif %}
									                	{% if log.data.logo is defined %}
															<img src="{{log.data.logo}}" class="img-responsive" width="100%">
									                	{% endif %}
									                	{% if log.data.photo is defined %}
															<img src="{{log.data.photo}}" class="img-responsive" width="100%">
									                	{% endif %}
									                	
									                	{% if log.data.content is defined %}
															<h4>{{"label.content"|trans}}</h4>
									                  		<div style="overflow:auto;">{{log.data.content|raw}} </div>   
									                	{% endif %}
									                	{% if log.data.description is defined %}
															<h4>{{"label.description"|trans}}</h4>
									                  		<div style="overflow:auto;">{{log.data.description|raw}} </div>   
									                	{% endif %}
									                	{% if log.data.courtdescription is defined %}
															<h4>{{"label.courtdescription"|trans}}</h4>
									                  		<div style="overflow:auto;">{{log.data.courtdescription|raw}} </div>   
									                	{% endif %}
									                  	{% if log.data.courtcontent is defined %}
															<h4>{{"label.courtdescription"|trans}}</h4>
									                  		<div style="overflow:auto;">{{log.data.content|raw}} </div>   
									                	{% endif %}  
									                	{% if log.data.googleMap is defined %}
															<h4>{{"label.googleMap"|trans}}</h4>
									                  		<div style="overflow:auto;">{{log.data.googleMap|raw}} </div>   
									                	{% endif %}
									                	{% if log.data.link is defined %}
															<h4>{{"label.link"|trans}}:</h4>
									                  		<h5>{{log.data.link|raw}} </h5>   
									                	{% endif %}
														{% if log.data.slogan is defined %}
															<h4>{{"label.slogan"|trans}}:</h4>
									                  		<h5>{{log.data.slogan|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.footertext1 is defined %}
															<h4>{{"label.footertext1"|trans}}:</h4>
									                  		<h5>{{log.data.footertext1|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.footertext2 is defined %}
															<h4>{{"label.footertext2"|trans}}:</h4>
									                  		<h5>{{log.data.footertext2|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.footertext3 is defined %}
															<h4>{{"label.footertext3"|trans}}:</h4>
									                  		<h5>{{log.data.footertext3|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.telfix is defined %}
															<h4>{{"label.telfix"|trans}}:</h4>
									                  		<h5>{{log.data.telfix|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.telmobile is defined %}
															<h4>{{"label.telmobile"|trans}}:</h4>
									                  		<h5>{{log.data.telmobile|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.email is defined %}
															<h4>{{"label.email"|trans}}:</h4>
									                  		<h5>{{log.data.email|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.bp is defined %}
															<h4>{{"label.bp"|trans}}:</h4>
									                  		<h5>{{log.data.bp|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.fax is defined %}
															<h4>{{"label.fax"|trans}}:</h4>
									                  		<h5>{{log.data.fax|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.adress is defined %}
															<h4>{{"label.adress"|trans}}:</h4>
									                  		<h5>{{log.data.adress|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.facebook is defined %}
															<h4>{{"label.facebook"|trans}}:</h4>
									                  		<h5>{{log.data.facebook|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.twitter is defined %}
															<h4>{{"label.twitter"|trans}}:</h4>
									                  		<h5>{{log.data.twitter|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.googleplus is defined %}
															<h4>{{"label.googleplus"|trans}}:</h4>
									                  		<h5>{{log.data.googleplus|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.skype is defined %}
															<h4>{{"label.skype"|trans}}:</h4>
									                  		<h5>{{log.data.skype|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.linkedin is defined %}
															<h4>{{"label.linkedin"|trans}}:</h4>
									                  		<h5>{{log.data.linkedin|raw}} </h5>   
									                	{% endif %}
									                	{% if log.data.instagram is defined %}
															<h4>{{"label.instagram"|trans}}:</h4>
									                  		<h5>{{log.data.instagram|raw}} </h5>   
									                	{% endif %}

									                </div>
									            </div>
								            </div>
							            </div>
								        <!-- end view -->
						              </td>
						            </tr>
					            {% endfor %}
					        </tbody>
					        <tfoot>
					        <tr>
					          <th>{{'table.name'|trans}}</th>
					          <th>{{'table.time'|trans}}</th>
					          <th>{{'table.action'|trans}}</th>
					        </tr>
					        </tfoot>
					    </table>
					</div>
					<div class="box-footer">
					</div>
				</div>
			</form>
        		
        	{% endif %}
        </div>
	</div>
{% endblock %}
