{% macro mediaRow(media) %}
    <div class="col-md-3">
        <div class="hidden">
         {{ form_row(media.url) }}
        </div>
        {% if media.url.vars.value is defined and not (media.url.vars.value is empty) %}
            <div>
                <a class="btn btn-xs delete-row">
                    <i class="fa fa-trash text-primary"></i>   
                </a>
            </div>
            <img src="{{ media.url.vars.value }}" alt="" height="120" class="img-responsive" />
        {% endif %}
    </div>
    
{% endmacro %}

<div>
<script type="text/html" id="nl">{{ _self.mediaRow (form.medias.vars.prototype) }} </script>
</div>
<hr>

<h4>Ajouter une media</h4>

<div class="form-actions clearfix">
    <button type="button" id="addMedia" class="btn bt-small btn-info">
        <i class="fa fa-plus-circle"></i>
    </button>
    <div class="btn btn-info pull-right"><span class="badge photoCount"></span> Media(s)</div>
</div>

<div class="media"> 
    <div class="row" id="dsi-content"> 
        {% for media in form.medias %}
            {{ _self.mediaRow(media) }}
        {% endfor %}
    </div>
</div>