{% extends "::Admin.html.twig" %}
{% block header %}
         {{'L\'equipe '}}
{% endblock %} 

{% block body%}
{% for flash_message in app.session.flashbag.get('notice') %}
	<div class="flash-notice alert alert-info">
	{{ flash_message }}
	</div>
{% endfor %}
<div class="container">
	<div class="col-md-8">
	  <!-- general form elements -->
	    <div class="box box-primary">
		    <div class="box-header with-border">
		       <h3 class="box-title">Ajouter un membre de l'équipe</h3>
		    </div>
		    <!-- /.box-header -->
		    <!-- form start -->
	        {{ form_start(form) }}
		      <div class="box-body">

		          {{form_row(form.title)}}

		          {{form_row(form.galleryCategory)}}

		          {{form_row(form.content)}}

		          {{form_row(form.eventDate)}}
		          
		          <div class="dossierImage-form">  
		            {{ include('admin/form/media_form.html.twig') }}
		          </div>

		          {{form_row(form.medias)}} 

		      </div>
		      <!-- /.box-body -->
		      <div class="box-footer">
		        <button type="submit" class="btn btn-primary">{{ 'new.submit'|trans }}</button>
		        	<a href="{{path('admin_team_index')}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
		      </div>

	  		{{ form_end(form)}} 
	    </div>
	  <!-- /.box -->
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('admin/js/app.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script>
		docName = 'gallery_medias_';
	</script>
	<script src="{{asset('js/elfinder-multi-photos.js')}}" charset="utf-8"></script>
	<script charset="utf-8">
		( function(){ 

			var socialIndex = $("#social-content div.col-md-3").length;

			function addSocial() {
			    $("#social-content").append($('#socialNet').html().replace(/\_\_name\_\_/g, socialIndex));
			}

			$("#addSocial").click(function() {
			    var counter = $("#social-content div.col-md-3").length;
			    // limit uploads
			    if (counter < 4) {
			        addSocial();
			 
			    } else {

		    	    var x = document.getElementById("snackbar")

		    	    // Add the "show" class to DIV
		    	    x.className = "show";

		    	    // After 3 seconds, remove the show class from DIV
		    	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
			    	return;
			    }

			    socialIndex = socialIndex + 1;
			});

			$(document).on("click", "form a.delete-row", function() {
			    $(this).closest('div.col-md-3').fadeOut("slow").remove();
			});

		})();
		
	</script>
{% endblock %}