{{ include('admin/form/new.html.twig', 
{

header: "Categorie Galerie"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_gallery_index',
ariane_path2:'admin_gallery_category_index',
category:true,
ariane_name1:"galerie"|trans,
ariane_name2:"galerie"|trans,
action:"admin_gallery_category_new",
title:"categorie"|trans,
back_link: 'admin_gallery_category_index',

}) }}