{{ include('admin/form/edit.html.twig', 
{
header: "Categorie galerie"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_galerie_index',
ariane_path2:'admin_galerie_category_index',
category:true,
ariane_name1:"galerie"|trans,
ariane_name2:"categorie"|trans,
title:"categorie edition"|trans,
back_link: 'admin_gallery_category_index',

}) }}                 