{% extends 'front.html.twig' %}

{% block ariane %}
	{{ include('includes/ariane.html.twig', {'ariane_child': 'A propos de nous'})}}
{% endblock %}

{% block main %}
	<div class="content-wrapper" id="page-info">
		<div class="container" style="padding-bottom:40px;">
		  	<!-- latest Event -->
			{{ render(controller('AppBundle:Default:ourStory'))}}
			<!-- latest Event End -->

			<!-- our work-->
			{{ render(controller('AppBundle:Default:ourGoal'))}}
			<!-- Our work End-->
		</div>
			<!-- Become a member Paralax-->
			{{ render(controller('AppBundle:Default:memberParallaxAbout'))}}
			<!-- Become a member End-->

			<!-- The team -->
			{{ render(controller('AppBundle:Default:ourTeam'))}}
			<!-- The team End-->
	</div>

{% endblock %}

