{% extends 'front.html.twig' %}

{% block ariane %}
	{{ include('includes/ariane.html.twig', {'ariane_child': 'Contactez nous'})}}
{% endblock %}

{% block main %}
    <div class="content-wrapper container" id="page-info">

        <!-- our work-->
        {{ include('includes/contact_form.html.twig') }}
        <!-- Our work End-->
        
    </div>
<!-- site content ends -->
{% endblock %}

