{% extends 'front.html.twig' %} 

{% block ariane %} 
    {{ include('includes/ariane.html.twig', {'ariane_child': 'Faire un Don'})}} 
{% endblock %} 

{% block main %}
<!-- How To Help Section Start Here -->
    {{ render(controller('AppBundle:Default:donate'))}}
<!-- How To Help Section End Here-->

<!-- Testimonials -->
	{#{ include('includes/testimonials.html.twig') }#}
<!-- Testimonials End -->

{% endblock %}