{% extends 'front.html.twig' %}

{% block ariane %}
    {{ include('includes/ariane.html.twig', {'sub': 'galerie', 'ariane_child': gallery.title|default(' ')|lower })}}
{% endblock %}

{% block main %}
    <div class="content-wrapper" id="page-info">
        <!-- Gallery show -->
        <!-- portfolio detail sections -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <header class="page-header section-header text-left">
                        <h2>{{ gallery.title }}</h2>
                    </header>
                    <div class="portfolio-detail-description">
                        <section class="img-slider flex-slide flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset(gallery.medias[0].url) }}" alt="{{ gallery.title }}">
                                </li>
                            </ul>
                        </section>
                        <div class="row portfolio-details">
                            <div class="col-xs-12">
                                <div class="detail-description">
                                    <p>
                                        {{ gallery.content|raw }}
                                    </p>
                                    
                                </div>
                                <header class="page-header section-header text-left">
                                    <h2 class="text-left h3">Related Portfolio</h2>
                                </header>
                                {% if relativeGalleries is defined %}
                                    <div class="row we-help anim-section">
                                        {% for item in relativeGalleries %}
                                            <div class="cols-xs-12 zoom col-sm-4">
                                                <div class="thumbnail">
                                                    <a href="{{ path('gallery_show', {'slug': item.slug})}}" class="img-thumb"><img src="{{ asset(item.medias[0].url) }}" alt="{{ gallery.title }}"></a>
                                                    <h3 class="h3"><a href="{{ path('gallery_show', {'slug': item.slug})}}">{{ item.title }}</a></h3>
                                                    <p>
                                                        {{ gallery.content|striptags|truncate(150)|raw }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--  sections end -->
            </div>
        </div>
        <!-- Gallery End -->
    </div>

{% endblock %}