{% extends 'front.html.twig' %}

{% block ariane %}
    {{ include('includes/ariane.html.twig', {'ariane_child': 'Galerie'})}}
{% endblock %}

{% block main %}
    <div class="content-wrapper" id="page-info">
        <!-- latest Event -->
        {{ render(controller('AppBundle:Default:gallery'))}}
        <!-- latest Event End -->
    </div>

{% endblock %}

