{% extends 'front.html.twig' %}

{% block slider %}
	{{ render(controller('AppBundle:Default:slider'))}}
{% endblock %}

{% block main %}
  	<!-- latest Event -->
	{{ render(controller('AppBundle:Default:events'))}}
	<!-- latest Event End -->

	<!-- Become a donator Paralax-->
	{{ render(controller('AppBundle:Default:donatorParallaxHome'))}}
	<!-- Become a donator End-->

	<!-- Become a recent Activities -->
	{{ render(controller('AppBundle:Default:recentActivities'))}}
	<!-- Become a donator End-->

{% endblock %}