{% extends 'front.html.twig' %}

{% block ariane %}
	{{ include('includes/ariane.html.twig', {'ariane_child': 'Nos Activités'})}}
{% endblock %}

{% block main %}
	<div class="content-wrapper" id="page-info">
		<div class="container">
		  	<!-- latest Event -->
			{{ render(controller('AppBundle:Default:ourActivities'))}}
			<!-- latest Event End -->

			<!-- Become a recent Activities -->
			{{ include('includes/recent_activities.html.twig') }}
			<!-- Become a donator End-->
		</div>

{% endblock %}

