{% extends 'front.html.twig' %}

{% set rawSub = app.request.get('_route')|split('_')[0] %}
{% set sub =  rawSub == 'event' ? 'évenement' : 'actualités' %}

{% block ariane %}
	{{ include('includes/ariane.html.twig', {'sub': sub, 'ariane_child': post.title })}}
{% endblock %}

{% block main %}
<div class="cause-page content-wrapper" id="page-info">
    <div class="container">
        <!-- our causes detail-->
        <div class="anim-section">
            <div class="row">
                <div class="col-xs-12 col-sm-9 left-block">
                    <div class="article-list-large causes-description progressbar">
                        <div class="anim-section">
                            {% if post.medias[0].url is defined %}
                                <figure>
                                    <img src="{{ asset(post.medias[0].url|default('theme/img/aside-img-01.jpg')) }}" alt="{{ post.title }}">
                                </figure>
                            {% endif %}
                            <div>
                                
                            </div>
                            <div class="heading-sec text-left">
                                <h3 class="h4">{{ post.title }}</h3>
                                <span class="date-desc">{{ ((post.eventDate is defined) ? post.eventDate : post.publishedAt)|date('d M Y') }}</span>
                            </div>
                            <div class="detail-description">
                                
                                <p>
                                    {{ post.content|raw }}
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="col-xs-12 col-sm-3 left-block ">
                    <aside class="media">
                        <h3 class="space-top">Recents</h3>
                        <ul>
                            {% if recentPosts is defined %}
                            	{% for recent in recentPosts %}
    	                            <li>
                                        {% if recent.medias[0].url is defined %}
        	                                <a href="#" class="pull-left">
        	                                    <figure>
        	                                        <img src="{{ asset(recent.medias[0].url|default('theme/img/aside-img-01.jpg')) }}" alt="{{ recent.title }}" width="98" height="98" />
        	                                    </figure>
        	                                </a>
                                        {% endif %}
    	                                <div class="media-body">
    	                                    <p>
    	                                        <a href="{{ path(((recent.eventDate is defined) ? 'event_show' : 'blog_post'), {'slug': recent.slug })}}">
    												{{ recent.title }}
    											</a>
    	                                    </p>
    	                                    <span> {{ ((recent.eventDate is defined) ? recent.eventDate : recent.publishedAt)|date('d M Y') }} </span>
    	                                </div>
    	                            </li>
                                {% endfor %}
                        	{% endif %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <!-- our causes detail-->
    </div>
</div>
{% endblock %}

