{% extends 'front.html.twig' %}

{% block ariane %}
	{{ include('includes/ariane.html.twig', {'sub': 'recherche', 'ariane_child': search})}}
{% endblock %}

{% block main %}
	<div class="content-wrapper" id="page-info">
		<div class="container">
		  	<!-- post search result -->
			<div class="row">
				{% for post in postResults %}
					<div class="col-md-4 col-sm-6 help-block">
						<h3><a href="{{ path('blog_post', {'slug': post.slug})  }}">{{ post.title }}</a></h3>
						<p><span class="text-muted">{{ post.publishedAt|date('d M Y') }}</span><br> {{ post.content|striptags|truncate(100)|raw }}</p>
					</div>
				{% endfor %}
			</div>
			<!-- post search End -->

			<!-- Event search result -->
			<div class="row">
				{% for event in eventResults %}
					<div class="col-md-4 col-sm-6 help-block">
						<h3><a href="{{ path('blog_post', {'slug': event.slug})  }}">{{ event.title }}</a></h3>
						<p><span class="text-muted">{{ event.eventDate|date('d M Y') }}</span><br> {{ event.content|striptags|truncate(100)|raw }}</p>s
					</div>
					
				{% endfor %}
			</div>
			<!-- event result End -->
			{% if (eventResults is empty) and (postResults is empty) %}
				<h3>Aucun Resultat trouvé</h3>
			{% endif %}
		</div>
	</div>

{% endblock %}

