{% extends 'front.html.twig' %}

{% block stylesheets %}
  <!-- Bootstrap -->
  <link href="{{ asset('theme/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('theme/css/bootstrap-theme.css') }}" rel="stylesheet">
  <link href="{{ asset('theme/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('theme/revolution-slider/css/settings.css') }}" rel="stylesheet">
  <link href="{{ asset('theme/css/global.css') }}" rel="stylesheet">
  <link href="{{ asset('theme/css/style.css') }}" rel="stylesheet">
  <link href="{{ asset('theme/css/responsive.css') }}" rel="stylesheet">
  <link href="{{ asset('theme/css/skin.css') }}" rel="stylesheet">
{% endblock %}

{% block slider %}
	<!-- banner slider Start Here -->
	<section class="rev_slider_wrapper banner-section">
	    <div class="rev_slider banner-slider">
	        <ul>
	            
	            <!-- SLIDE  -->
	            <li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-2">
	                <!-- MAIN IMAGE -->
	                <img src="assets/img/slide-banner-02.jpg" alt="banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
	                <div data-endspeed="500" data-easing="easeOutCirc" data-start="500" data-speed="500" data-y="406" data-x="152" class="tp-caption sfb feature-btn ">
	                    <span class="btn btn-warning btn-sm">FEATURED CAUSE</span>
	                </div>
	                <div data-endspeed="800" data-easing="easeOutCirc" data-start="800" data-speed="500" data-y="448" data-x="152" class="tp-caption sfb">
	                    <div class="trans-grey"></div>
	                </div>
	                <div data-endspeed="1500" data-easing="easeOutCirc" data-start="1500" data-speed="1000" data-y="466" data-x="177" class="tp-caption banner-heading bottom-animation text-white sfb">
	                    <h2 class="h1"><strong>Donate &amp; Help</strong>
										
										Africans For Education</h2>
	                </div>
	                <div data-endspeed="1700" data-easing="easeOutCirc" data-start="1700" data-speed="700" data-y="550" data-x="177" class="tp-caption sfb donate-button">
	                    <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn-link">Donate NOW</a>
	                </div>
	            </li>
	            <!-- SLIDE  -->
	            <li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
	                <!-- MAIN IMAGE -->
	                <img src="assets/img/slide-banner-03.jpg" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">
	                <div data-endspeed="500" data-easing="easeOutCirc" data-start="500" data-speed="700" data-y="103" data-x="152" class="tp-caption sft banner-feaure">
	                    <span class="btn btn-bg">FEATURED CAUSE</span>
	                </div>
	                <div data-endspeed="800" data-easing="easeOutCirc" data-start="800" data-speed="700" data-y="150" data-x="152" class="tp-caption sft third-style banner-heading banner-title">
	                    <h2><strong>Donate &amp; Help</strong>
										
										Support African Children In Making Their Career</h2>
	                </div>
	                <div data-endspeed="1000" data-easing="easeOutCirc" data-start="1000" data-speed="700" data-y="244" data-x="152" class="tp-caption sft third-style banner-summary banner-description">
	                    <p>
	                        Become volunteer and start donating for those, who are unable to get education that they deserve. Give your full support to make their career.
	                    </p>
	                </div>
	                <div data-endspeed="1200" data-easing="easeOutCirc" data-start="1200" data-speed="700" data-y="354" data-x="152" class="tp-caption sft banner-btn">
	                    <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Donate NOW</a>
	                </div>
	            </li>
	        </ul>
	    </div>
	</section>
	<!-- banner slider End Here -->
{% endblock %}

{% block main %}
  
	<div class="container">
	  <div class="jumbotron">
	    <h1>Bootstrap Tutorial</h1> 
	    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
	    responsive, mobile-first projects on the web.</p> 
	  </div>
	  <p>This is some text.</p> 
	  <p>This is another text.</p> 
	</div>

{% endblock %}

{% block javascripts %}
     <script src="{{ asset('theme/js/jquery.min.js') }}"></script>
     <script src="{{ asset('theme/js/jquery.cookie.js') }}"></script>
     <!-- Switcher Style End Js -->
     <script src="{{ asset('theme/js/bootstrap.min.js') }}"></script>
     <script src="{{ asset('theme/js/jquery.easing.min.js') }}"></script>
     <!--Main Slider Js-->
     <script src="{{ asset('theme/revolution-slider/js/jquery.themepunch.plugins.min.js') }}"></script>
     <script src="{{ asset('theme/revolution-slider/js/jquery.themepunch.revolution.js') }}"></script>
     <!--Main Slider End Js-->
     <script src="{{ asset('theme/js/jquery.flexslider.js') }}"></script>
     <script src="{{ asset('theme/js/site.js') }}"></script>
{% endblock %}