
    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <div class="content-page page-404">
               <div class="number">
                  404
               </div>
               <div class="details">
                  <h3>{{"page.error.p404.mg1"|trans}}</h3>
                  <p>
                     {{"page.error.p404.mg2"|trans}}<br>
                     <a href="{{path('homepage')}}" class="link">{{"page.error.p404.mg3"|trans}}</a> 
                  </p>
               </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div><br>
    <br>
    <br>
    <br>