 <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <div class="content-page page-500">
               <div class="number">
                  500
               </div>
               <div class="details">
                <h3>{{"page.error.p500.mg1"|trans}}</h3>
                <p>
                    {{"page.error.p500.mg2"|trans}}<br>
                    {{"page.error.p500.mg3"|trans}}<br><br>
                </p>                
               </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
