{% extends "::Admin.html.twig" %}
{% block header %}
          {{"memberscat.header.title"|trans}}
<small>{{'setting'|trans}}</small>
{% endblock %} 
{% block ariane %}
  {{parent()}} 
  <li><a href="{{path('faqs_index')}}"><i class="fa fa-cog"></i>{{"members.ariane"|trans}}</a></li>
  <li><i class="fa fa-cog"></i>{{"memberscat.ariane"|trans}}</li>
{% endblock %}
{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" type="text/css" href="{{ asset('dataTables.bootstrap.min.css') }}">
{% endblock %}
{% block body %}
  {% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice callout callout-success">
      {{ flash_message }}
    </div>
  {% endfor %}
<div class="col-md-12">
  <div class="box  box-primary">
    <div class="box-header">
      <h3 class="box-title">{{"memberscat.header.title"|trans}} </h3>
      <div class="box-tools pull-right">
        <a href="{{ path('admin_post_memberscategory_new') }}" class="btn btn-primary"><span class="fa fa-plus"></span>  {{ 'new.submit'|trans }}</a>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th style="width:10px">#</th>
          <th>{{'table.name'|trans}}</th>
          <th>{{'table.action'|trans}}</th>
        </tr>
        </thead>
        <tbody>
         {% for membersgroupe in membersgroupes %}
            <tr>
              <td>{{ membersgroupe.id }}</td>
              <td>{{ membersgroupe.name }}</td>
              <td>
                <a class="btn btn-default fa fa-edit" style="text-decoration: none;" href="{{ path('admin_post_memberscategory_edit', { id: membersgroupe.id }) }}"></a>
                <a style="text-decoration: none;"  href="{{ path('admin_post_memberscategory_delete', { id: membersgroupe.id }) }}" class="btn btn-danger fa fa-trash"></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th style="width:10px">#</th>
          <th>{{'table.name'|trans}}</th>
          <th>{{'table.action'|trans}}</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
    
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('admin/js/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/js/dataTables.bootstrap.min.js') }}"></script>
  <script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}
