{{ include('form/new.html.twig', 
{
header: "memberscat.header.title"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_member_index',
ariane_path2:'admin_post_memberscategory_index',
category:true,
ariane_name1:"members.ariane"|trans,
ariane_name2:"memberscat.ariane"|trans,
action:'admin_post_memberscategory_new',
title:"memberscat.new.title"|trans,

}) }}                 