{{ include('form/new.html.twig', 
{

header: "tag.header.title"|trans
 ~ '  <small>'~'setting'|trans~'</small>',
ariane_path1:'admin_post_index',
ariane_path2:'admin_post_tag_index',
ariane_name1:"post.ariane"|trans,
ariane_name2:"tag.ariane"|trans,
action:"admin_post_tag_new",
title:"tag.new.title"|trans,
tag: true,
back_link: 'admin_post_tag_index',

}) }}                 