{% extends "::Admin.html.twig" %}
{% block header %}
         {{'activity' }}
{% endblock %} 

{% block body%}

<div class="container">
	<div class="col-md-8">
	  <!-- general form elements -->
	    <div class="box box-primary">
		    <div class="box-header with-border">
		       <h3 class="box-title">Ajout d'une activité</h3>
		    </div>
		    <!-- /.box-header -->
		    <!-- form start -->
	        {{ form_start(form) }}
		      <div class="box-body">

		          {{form_row(form.title)}}

		          {{form_row(form.content)}}
		          
		          <div class="dossierImage-form">  
		            {{ include('admin/form/media_form.html.twig') }}
		          </div>

		          {{form_row(form.medias)}}

		      </div>
		      <!-- /.box-body -->
		      <div class="box-footer">
		        <button type="submit" class="btn btn-primary">{{ 'new.submit'|trans }}</button>
		        	<a href="{{path('admin_activity_index')}}" class="btn btn-default pull-right"> <span class="fa  fa-backward"> </span> {{ 'back.submit'|trans }}</a>
		      </div>

	  		{{ form_end(form)}}
	    </div>
	  <!-- /.box -->
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('admin/js/app.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script>
		docName = 'activity_medias_';
	</script>
	<script src="{{asset('js/elfinder-multi-photos.js')}}" charset="utf-8"></script>
{% endblock %}